*{
padding: 0%;
margin: 0%;
font-family: "Rubik";
}

.header{
 background-color:#E0EEEE;
 display: flex;
 justify-content: space-between;
 padding: 15px;
width: 99%;
position: fixed;
height: 60px;
align-items: center;
}

.logo{
    margin-left: 80px;
    align-items: center;
}

.secciones{
color: #59564F;
display: flex;
justify-content: space-between;
align-items: center;
}
.redes{
    margin-right: 80px;
}
.inputwhite{
    display: inline;
    border: white;
}

#inputwhite{
    border: white;
    width: 207px;
    height: 27px;
}

#botonbusqueda{
    background-color: #3D6177;
    border-color: #3D6177;
    color: white;
    width: 200px;
    height: 72px ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-text{
    margin: black;
    border-radius: 28px;
    width: 560px;
    height: 104px;
    border: 1px solid #E0EEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sectionone{
    align-items: center;
}

#marcas{
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputinput{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.slogan{
    width: 890px;
    height: 132px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 20px;
}
.slogan-block{
    display: flex;
    justify-content: center;
    align-items: center;
}

#textoraro{
    text-align: center;
    color: #414D4D;
    margin-top: 40px;
    font-weight: 600;
}

.sectiontwo{
    background-color: #C5DDDD;
    padding: 50px 0;
}

#segundotexto{
    font-size: 34px;
    color: #414D4D;
    font-weight: 450;
}

.sections{
    width: 500px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.seccionita{
    padding: 18px;
    font-size: 16px;
}

.twoflex{
    display: flex;
    justify-content: baseline;
}
#nombreraro{
    font-size: 18px;
    color: #414D4D;
    display: flex;
    align-items: baseline;
    margin-left: 20px;
}
#agregadoraro{
    font-size: 14px;
    color: #414D4D;
    display: flex;
    align-items: baseline;
    margin-left: 20px;
}
.frase{
    display: block;
}
#piefrase{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
#titulosectionthree{
    font-size: 24px;
    color: #414D4D;
}
#textosectionthree{
    font-size: 16px;
    color: #414D4D;
}
.textodebajo{
    margin-top: 20px;
    text-align: center;
    display: block;
}
.finalinput a{
    text-decoration: none;
}
.sectionthree{
    display: flex;
    /* flex-wrap: wrap; */
    padding: 60px 0;
}
#imagensectionthree{
    width: 300px;
    height: 300px;
}
.imagensectionthree{
    display: flex;
}
.textotextodos{
    width: 500px;
}
#flecha{
    display: inline-flex;
}
.menues{
    display: flex;
    justify-content: space-between;
}
.textotextodos>*{
    margin-bottom: 20px;
}
.menues{
    margin-bottom: 20px;
}
.sectionfoot{
    background-color:#C5DDDD;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    width: 99%;
    height: 60px;
    align-items: center;
}

.sectionsuscribe{
    background-color: #E0EEEE;
    padding: 50px 0;
}
.textosuscribe{
    text-align: center;
    color: #414D4D;
    font-weight: 600;
}
.subscribetext{
    font-size: 36px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  .input-textcuatro{
    margin: black;
    border-radius: 28px;
    width: 560px;
    height: 104px;
    border: 1px solid #E0EEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.sectionfourimg{
    display: flex;
    width: 250px;
}
.sectionfour{
    padding: 60px 0;
}
.containerfour{
    
}